#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2em;

}

#rollButton{
    font-size: 1.5rem;
    padding: 0.5;
    border-radius: 10px;
    border : none;
    background-color: hsla(208, 100%, 49%, 0.916);
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    
}

#rollButton:hover{
    background-color: hsla(208, 100%, 60%, 0.916);
}

#rollButton:active{
    background-color: hsla(208, 100%, 70%, 0.916);  
}

#rollInput{
    font-size: 1.5rem;
    text-align: center;
    width: 20%;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}

/* img included as innerHTML is changed bt js */
#diceImages img{
    size: 50%;
    margin: 10px;
}